@use "colori" as *;

.btn-hero-prof {
    background-color: $neroSfondo;
    border: 2px solid $gialloTitoloBottoni;
    color: $gialloTitoloBottoni;
    align-content: center;
}

.btn-hero-prof:hover {
    background-color: $gialloTitoloBottoni;
    color: $neroSfondo;
}

.btn-hero-campus {
    background-color: $gialloTitoloBottoni;
    border: 2px solid $gialloTitoloBottoni;
    color: $neroSfondo;
    align-content: center;
}

.btn-hero-campus:hover {
    background-color: $neroSfondo;
    color: $gialloTitoloBottoni;
    border: 2px solid $gialloTitoloBottoni;
}

.card-campus {
    transition: 0.5s ease;
}

.card-campus:hover{
    transform:translate(0,-20px);
}
.btn-richiesta{
    background-color: $neroSfondo;
    border: 2px solid $gialloTitoloBottoni;
    color: $gialloTitoloBottoni;
}
.btn-richiesta:hover {
    background-color: $gialloTitoloBottoni;
    color: $neroSfondo;
}

.btn-reset {
    background-color: $gialloTitoloBottoni;
    border: 2px solid $gialloTitoloBottoni;
    color: $neroSfondo;
}

.btn-reset:hover {
    background-color: $neroSfondo;
    border: 2px solid $rosso;
    color: $rosso;
}