/* Palette colori :root */

$neroSfondo: #06060B; // usate primary per il background
$gialloTitoloBottoni:#FFED00;
$bianco: #ffffff;
$grigioScuroCard: #2E2F37;// card e form
$grigio:#4A5565;//bordo form
$grigioChiaro:#A4A5A9;// background dei campi input
$rosso: #C21111;
$success: #21a81d;

