.footer-links a {
    transition: 0.2s ease;
    opacity: 0.75;
}

.footer-links a:hover {
    color: #ffc107;
    opacity: 1;
    transform: translateX(5px);
}

.footer-icons a {
    transition: 0.2s ease;
    opacity: 0.7;
}

.footer-icons a:hover {
    color: #ffc107;
    opacity: 1;
    transform: translateY(-3px) scale(1.15);
}