.hero-image {
  height: auto;
  width: 50rem;
  z-index: 2;
}

.contenitore {
  width: 100%;
  max-width: 100%;
}


.hero-wrapper {
  position: relative; // fondamentale per l'overlay assoluto
  overflow: hidden;

  @media (max-width: 576px) {
    overflow: visible;
  }
}

.hero-bg {
  background: url("../../assets/img/backgroundHero.webp") center/cover no-repeat;
background-size: contain;
 background-position: center;

  @media (max-width: 992px) {
        background-position: center;
        background-size: contain;
        text-align: right;
  }

  @media (max-width: 576px) {
    background-size: contain;
    background-position: center;
    display: flex !important;
    align-items: center !important;
  }

}