.hero-image {
    height: auto;
    width: 50rem;
    z-index: 2;
}

.contenitore{
    width: 100%;
    max-width: 100%;
}

.immagineHero2 {
  width: 100%;
  max-width: 520px;
  height: auto;
  align-self: flex-end; /* la spinge in basso */
}

.hero-bg .col-lg-6:first-child {
  display: flex;
  align-items: flex-end;
}

// .contenitoreHero2{
   
// }

// .text-shadow {
//      text-shadow: 9px 7px 3px rgba(0, 0, 0, 6.7);
// }