/* Regole pagina iNostriCorsi */
@use "colori" as *;



.nav-link:hover,.nav-link:active{
    color: var($rosso)!important;
 }

// .hero-image {
//     height: auto;
//     width: 50rem;
//     z-index: 2;
// }

.contenitore{
     width: 100%;
     max-width: 100%;
 }

/* 1. Rimuove la freccia in ogni stato (chiuso e aperto) */
.accordion-button::after, 
.accordion-button:not(.collapsed)::after {
    display: none !important;
    content: none !important;
    background-image: none !important;
}

/* 2. Rimuove il padding extra che Bootstrap riserva alla freccia a destra */
.accordion-button {
    padding-right: 1.25rem !important; /* Pareggia il padding sinistro */
    text-align: center;
}

/* 3. Forza la centratura del contenuto Flex */
.accordion-button {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}


.hero-image {
    height: auto;
    width: 50rem;
    z-index: 2;
}

.contenitore{
    width: 100%;
    max-width: 100%;
}


.hero-wrapper {
  position: relative; // fondamentale per l'overlay assoluto
  overflow: hidden;

  @media (max-width: 576px) {
    overflow: visible;
  }
}

.hero-bg{
  background: url("../../assets/img/pattern-bg-corsi-reduced-light.png") center/cover no-repeat;
  min-height: 100vh;


@media (max-width: 992px){
    min-height: 70vh;
    background-position: 70% center;
  }

  @media (max-width: 576px) {
    min-height: 100svh;
    background-size: cover;
    background-position: 65% center;
    display: flex !important;
    align-items: center !important;
    padding-bottom: 3rem; 
  }

}
.img-accordion{
    width: 300px;
}

// }