//Tema da usare nella home page principale
$bianco: #ffffff;
$grigio:#5a606b;
$nero: #000;
//Tema da usare per l'Area Studenti
$verdeChiaro: #84A98C;
$verde:#52796F;
//Tema da usare per la segreteria
$antraciteChiaro: #64748B;
$antracite:#334155;
//Tema da usare per l'area Docenti
$azzurroChiaro: #B1D4E0;
$azzurro:#5cafca;

//ovviamente le variabili della HomePage sono riutilizzabili ed abbinabili in tutte le Sezioni


@use "../../node_modules/bootstrap/scss/bootstrap.scss" with (
$primary: $bianco,
$secondary: $nero,
$success: $verdeChiaro,
$green: $verde, 
$info: $azzurroChiaro,
$cyan: $azzurro,
$body-color: $antraciteChiaro,
$light:$antracite,
$warning:$grigio,
$font-family-sans-serif: "Poppins"#{","} sans);

// override bootstrap

body{
   margin-top: 10rem;
   background-color:$antraciteChiaro;
}

.titolo{
   color:$nero;
}

.esempio{
color: $antracite;
}
