@use "colori" as *;
@use "fonts" as *;



@use "../../node_modules/bootstrap/scss/bootstrap.scss" with ( // $secondary: $black,


      $theme-colors: (
         "secondary": $grigioScuroCard,
         "warning": $gialloTitoloBottoni, // titoli e bottoni 
         "danger": $rosso,
         "light": $bianco, // testo normale
         "dark": $neroSfondo, // usato per gli sfondi

         "grigioChiaro": $grigioChiaro, // per il background dei campi input
         "grigio" : $grigio,

      ),

      $font-family-base : "Source Code Pro" monospace,
); 

@use "news";
@use "iNostriCorsi";
@use "chiSiamo";



#content {
   opacity: 1;
   transition: opacity 0.3s ease-in-out;
   margin-top: 25px;
}

#content.fade-out {
   opacity: 0;
}

#content.fade-in {
   opacity: 1;
}


.slider-main {
   overflow: hidden;
   display: block;
}

.slider-card {
   display: flex;
   gap: 9px;
   width: max-content;
   animation: slider 60s linear infinite;
}

.slider-card video {
   flex-shrink: 0;
}

.sliderCardDimensione {
   width: 30rem;
   border-radius: 0vw;
   border: 3px solid $bianco;
}


@keyframes slider {
   from {
      transform: translateX(0);
   }

   to {
      transform: translateX(-50%);
   }
}

.row-custom {
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   text-align: center;
   margin-top: 2rem;
   align-content: center;
   justify-content: center;
   align-items: baseline;
}

.btn-secondary {
   font-size: 1.2vw;
   --bs-btn-color: black;
   --bs-btn-bg: white;
   --bs-btn-border-color: black;
   --bs-btn-hover-color: black;
   --bs-btn-hover-bg: #9c9a9a;
   --bs-btn-hover-border-color: black;
   --bs-btn-focus-shadow-rgb: 184, 107, 160;
   --bs-btn-active-color: black;
   --bs-btn-active-bg: #9c9a9a;
   --bs-btn-active-border-color: black;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(95, 84, 84, 0.125);
   --bs-btn-disabled-color: black;
   --bs-btn-disabled-bg: #9c9a9a;
   --bs-btn-disabled-border-color: black;
   padding: 0px 20px 5px 20px;
}

.bgSezioni {
   background-color: $grigioScuroCard;
   padding-top: 1vw;
   display: flex;
   flex-direction: row;
   border: 3px solid black;
}

.rounded-circle {
   border: 2px solid $grigioScuroCard;
   margin-bottom: 1vw;
}

.fw-normal {
   color: $bianco;
}

